body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#panel-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

model-viewer {
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Blur and semi-transparent overlay */
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);

  /* Center the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

